.productList {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 318px);
}

@media screen and (max-width: 1024px) {
    .productList {
        width: 100%;
        justify-content: space-between;
    }
}