.productCard {
    width: calc(33.3333% - 45px);
    margin-bottom: 50px;
}

.productCard:not(:nth-child(3n)) {
    margin-right: 45px;
}

.productCard_image {
    position: relative;
    padding: 0;
    margin: 0;
}
.productCard_bestSeller {
    background: #fff;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 29px;
    position: absolute;
    top: 0;
    left: 0;
}
.productCard_addToCart {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    font-size: 23px;
    font-weight: 500;
    height: 46px;
    width: 100%;
    border: none;
}
.productCard_category {
    font-size: 22px;
    font-weight: 700;
    color: #656565;
    margin-top: 7px;
}
.productCard_name {
    font-size: 34px;
    font-weight: 700;
    margin: 8px 0;
}
.productCard_price {
    font-size: 29px;
    color: #656565;
}

@media screen and (max-width: 1024px) {
    .productCard {
        width: calc(50% - 15px);
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 667px) {
    .productCard {
        width: 100%;
    }
}