.productListHeader {
    margin-top: 75px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filterMobileButton {
    background: none;
    appearance: none;
    border: none;
    display: none;
}

.sortingWrapper {
    font-size: 22px;
    display: flex;
    align-items: center;
    color: #9B9B9B;
}

.sortingBtn {
    background: none;
    appearance: none;
    border: none;
    width: 42px;
    height: 42px;
}
.sortingSelect {
    font-size: 22px;
    border: none;
    width: 150px;
    margin-left: 10px;
}


@media screen and (max-width: 1024px) {
    .productListHeader {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .filterMobileButton {
        display: block;
    }
    
}