.header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    border-bottom: 4px solid #E4E4E4;
    max-width: 1290px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 99;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (max-width: 1024px) {
    .header {
        height: 90px;
    }
}